<section class="recipe-main">
<a class="new_food_link" href=<%= "/users/#{current_user.id}/recipes/new" %>>Add Recipe</a>
<% @recipes.each do |re| %>
  <div class="recipe-container">
    <div class="left-content">
      <h2><%= re.name %> <%= re.id %></h2>
      <a class="remove-recipe" href="#">REMOVE</a>
    </div>
    <div class="right-content">
      <p>
        <%= re.description %>
      </p>
      <%= link_to 'Details', "/users/#{current_user.id}/recipes/#{re.id}/show" %>
      
    </div>
  </div>
  <% end %>
</section>